.content-container {
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

nav a {
  display: inline-block;
}

.nav-icon {
  max-height: 50px;
  margin: 0 10px;
}

.nav-title {
  max-height: 40px;
  margin: 0 20px;
}

.link-list li {
  margin-bottom: 10px;
}

.timeline {
  margin: 0 auto;
  width: 60%;
  max-width: 550px;
}

.wall-of-text {
  max-width: 50%;
  margin: 0 auto;
}
